<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Listings</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <style>
    h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
        font-weight: bold;
        color: #333;
    }
  </style>
  <body>
    <h1>All Listings</h1>
    <% if (listings.length===0) { %>
    <p>No listings available.</p>
    <% } else { %>
    <div class="listings-container">
      <% listings.forEach(listing=> { %>
      <a
        href="/listings/<%= listing._id %>"
        style="text-decoration: none; color: inherit"
      >
        <div class="listing-card">
          <div
            class="listing-img-card"
            style="background-image: url('<%= listing.image %>')"
          ></div>
          <h2><%= listing.title %></h2>
          <p><%= listing.location %></p>
        </div>
      </a>
      <% }) %>
    </div>
    <% } %>
  </body>
</html>
